{% extends "base/base.html" %}

{% block content %}

    {% if form.errors %}
    <p>Tài khoản và mật khẩu của bạn không hợp lệ</p>
    {% endif %}

    <!-- <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit">log in</button>

    <input type="hidden" name="next" value="{% url 'base:index' %}" />
    </form> -->


    <section class="p-4 vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="post" action="{% url 'users:login' %}">    
                {% csrf_token %}
                <!-- Email input -->
                 <div class="form-outline mb-4">
                    <label class="form-label" for="id_username">Địa chỉ Email</label>
                    <input type="text" name="username" autofocus="" 
                        class="form-control form-control-lg" placeholder="Enter a valid email address"
                        autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"
                    >
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="id_password">Mật khẩu</label>
                    <input type="password" name="password" 
                        autocomplete="current-password" required="" id="id_password"
                        class="form-control form-control-lg"
                        placeholder="Enter password"
                    >
                </div>
                <!-- <button name="submit">log in</button> -->
                
                <input type="hidden" name="next" value="{% url 'base:index' %}" />
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <button name="submit"  class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng nhập</button>
                </div>
      
        
              </form>
            </div>
          </div>
        </div>
        
    </section>
    <div
          class="bottom-0 d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">


    </div>
{% endblock content %}